.dashboard-container{
    display: flex;
    height: 100%;
    width: 80%;
    padding-bottom: 5em;
    margin-top: 5em;
    align-items: flex-start;
    justify-content: space-around;
    
    .dashboard-form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #5CE1E6;
        border-radius: 10px;
        padding: 2em;
        align-items: center;
        height: 50%;
        width: 40%;

        .form-title {
            color: #F630C4;
            font-size: 3rem;
            font-weight: bold;
        }

        .login-input{
            padding: .4em .2em;
        }

        .submit-btn{
            background-color: #FFDE59;
            padding: .3em .7em;
            cursor: pointer;
        }
    }

    .all-games-container {
        display: flex;
        width: 40%;
        background-color: #5CE1E6;
        color: black;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        padding: 2em;

        .all-games {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3em;
            font-size: 1.3rem;

            .game-title {
                font-weight: bold;
                margin-bottom: .4em;
                color: #F630C4;
            }

            .creator {
                margin-bottom: .4em;
            }

            .delete-btn {
                background-color: #FFDE59;
                color: black;
                cursor: pointer;
                padding: .4em 1em;
                margin-top: .7em;
                border-radius: 10px;

                &:hover{
                    background-color: red;
                }
            }
        }
    }
}