.home-container {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;

.all-games-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 4em;


        .link{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        
            .game-name{
                @include title;
                margin: 2.5em 0 .7em;
            }

            .img {
                border-radius: 10px;
            }
        }
    
}
}