.home-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;

    .all-games-container{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .game-name{
            font-family: 'Bungee Shade', cursive;
            font-size: 3.7em;
            color: #FFDE59;
            line-height: .5;
            border-bottom: 20px solid #F630C4;
            padding: 0 .2em; 
            // margin-bottom: -10px;

        
        }
    }
}